USE [master]
GO
/****** Objeto: Database [RentaVideojuegos] Fecha de script: 29/7/2026 12:10:07 ******/
CREATE DATABASE [RentaVideojuegos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentaVideojuegos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RentaVideojuegos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentaVideojuegos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RentaVideojuegos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentaVideojuegos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentaVideojuegos]
GO
/****** Objeto: Table [dbo].[Alquiler] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alquiler](
	[idAlquiler] [int] IDENTITY(1,1) NOT NULL,
	[idJugador] [int] NOT NULL,
	[idVideojuego] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaDevolucion] [datetime] NOT NULL,
	[totalDiasAlquiler] [int] NOT NULL,
	[costoPorDia] [numeric](10, 2) NOT NULL,
	[costoTotal] [numeric](14, 2) NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[estado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Alquiler] PRIMARY KEY CLUSTERED 
(
	[idAlquiler] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[idBitacora] [int] IDENTITY(1,1) NOT NULL,
	[idAlquiler] [int] NOT NULL,
	[idJugador] [int] NOT NULL,
	[accionRealizada] [varchar](25) NOT NULL,
	[fechaDeLaAccion] [datetime] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[idBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Jugador] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugador](
	[idJugador] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [varchar](250) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[clave] [varchar](15) NOT NULL,
	[esAdministrador] [bit] NOT NULL,
	[estado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED 
(
	[idJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Sucursal] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[idSucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[direccion] [varchar](500) NULL,
	[telefono] [varchar](20) NULL,
	[costoPorDia] [numeric](10, 2) NOT NULL,
	[estado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Videojuego] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videojuego](
	[idVideojuego] [int] IDENTITY(1,1) NOT NULL,
	[idSucursal] [int] NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[idCategoria] [varchar](100) NOT NULL,
	[fechaLanzamiento] [date] NOT NULL,
	[desarrolladora] [varchar](100) NOT NULL,
	[distribuidora] [varchar](100) NOT NULL,
	[imagen] [varchar](255) NULL,
	[trailer] [varchar](255) NULL,
	[estado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Videojuego] PRIMARY KEY CLUSTERED 
(
	[idVideojuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alquiler] ON 

INSERT [dbo].[Alquiler] ([idAlquiler], [idJugador], [idVideojuego], [fechaInicio], [fechaDevolucion], [totalDiasAlquiler], [costoPorDia], [costoTotal], [fechaCreacion], [fechaModificacion], [estado]) VALUES (1, 1, 1, CAST(N'2026-07-01T00:00:00.000' AS DateTime), CAST(N'2026-07-03T00:00:00.000' AS DateTime), 3, CAST(3.50 AS Numeric(10, 2)), CAST(10.50 AS Numeric(14, 2)), CAST(N'2026-01-10T10:00:00.000' AS DateTime), CAST(N'2026-01-10T10:05:00.000' AS DateTime), N'I')
INSERT [dbo].[Alquiler] ([idAlquiler], [idJugador], [idVideojuego], [fechaInicio], [fechaDevolucion], [totalDiasAlquiler], [costoPorDia], [costoTotal], [fechaCreacion], [fechaModificacion], [estado]) VALUES (2, 4, 5, CAST(N'2026-07-10T00:00:00.000' AS DateTime), CAST(N'2026-07-14T00:00:00.000' AS DateTime), 5, CAST(4.00 AS Numeric(10, 2)), CAST(20.00 AS Numeric(14, 2)), CAST(N'2026-01-15T11:00:00.000' AS DateTime), NULL, N'A')
INSERT [dbo].[Alquiler] ([idAlquiler], [idJugador], [idVideojuego], [fechaInicio], [fechaDevolucion], [totalDiasAlquiler], [costoPorDia], [costoTotal], [fechaCreacion], [fechaModificacion], [estado]) VALUES (3, 1, 9, CAST(N'2026-08-01T00:00:00.000' AS DateTime), CAST(N'2026-08-05T00:00:00.000' AS DateTime), 5, CAST(3.75 AS Numeric(10, 2)), CAST(18.75 AS Numeric(14, 2)), CAST(N'2026-02-20T14:00:00.000' AS DateTime), CAST(N'2026-07-29T11:01:46.830' AS DateTime), N'I')
SET IDENTITY_INSERT [dbo].[Alquiler] OFF
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([idBitacora], [idAlquiler], [idJugador], [accionRealizada], [fechaDeLaAccion]) VALUES (1, 1, 1, N'CREADO', CAST(N'2026-01-10T10:00:00.000' AS DateTime))
INSERT [dbo].[Bitacora] ([idBitacora], [idAlquiler], [idJugador], [accionRealizada], [fechaDeLaAccion]) VALUES (2, 1, 5, N'CANCELADO', CAST(N'2026-01-10T10:05:00.000' AS DateTime))
INSERT [dbo].[Bitacora] ([idBitacora], [idAlquiler], [idJugador], [accionRealizada], [fechaDeLaAccion]) VALUES (3, 2, 4, N'CREADO', CAST(N'2026-01-15T11:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugador] ON 

INSERT [dbo].[Jugador] ([idJugador], [nombreCompleto], [email], [clave], [esAdministrador], [estado]) VALUES (1, N'Nadia Fonseca Masis', N'nfonseca1498@hotmail.com', N'12345', 0, N'A')
INSERT [dbo].[Jugador] ([idJugador], [nombreCompleto], [email], [clave], [esAdministrador], [estado]) VALUES (2, N'Alberto Rivera Gutierrez', N'alberto9684@msn.com', N'12345', 0, N'A')
INSERT [dbo].[Jugador] ([idJugador], [nombreCompleto], [email], [clave], [esAdministrador], [estado]) VALUES (3, N'Olga Avila Flores', N'oaflores23@gmail.com', N'12345', 1, N'I')
SET IDENTITY_INSERT [dbo].[Jugador] OFF
GO
SET IDENTITY_INSERT [dbo].[Sucursal] ON 

INSERT [dbo].[Sucursal] ([idSucursal], [nombre], [direccion], [telefono], [costoPorDia], [estado]) VALUES (1, N'Sucursal Centro', N'Av. Central, San Jose, Costa Rica', N'2222-1111', CAST(3.50 AS Numeric(10, 2)), N'A')
INSERT [dbo].[Sucursal] ([idSucursal], [nombre], [direccion], [telefono], [costoPorDia], [estado]) VALUES (2, N'Sucursal Norte', N'Barrio La Uruca, San Jose, Costa Rica', N'2222-2222', CAST(4.00 AS Numeric(10, 2)), N'A')
INSERT [dbo].[Sucursal] ([idSucursal], [nombre], [direccion], [telefono], [costoPorDia], [estado]) VALUES (3, N'Sucursal Heredia', N'Centro Comercial Paseo Las Flores, Heredia', N'2261-3333', CAST(3.75 AS Numeric(10, 2)), N'A')
SET IDENTITY_INSERT [dbo].[Sucursal] OFF
GO
SET IDENTITY_INSERT [dbo].[Videojuego] ON 

INSERT [dbo].[Videojuego] ([idVideojuego], [idSucursal], [titulo], [descripcion], [idCategoria], [fechaLanzamiento], [desarrolladora], [distribuidora], [imagen], [trailer], [estado]) VALUES (1, 1, N'God of War Ragnarok', N'Continua la saga nordica de Kratos y su hijo Atreus enfrentando el apocalipsis.', N'Accion y Aventura', CAST(N'2022-11-09' AS Date), N'Santa Monica Studio', N'Sony Interactive Entertainment', NULL, NULL, N'A')
INSERT [dbo].[Videojuego] ([idVideojuego], [idSucursal], [titulo], [descripcion], [idCategoria], [fechaLanzamiento], [desarrolladora], [distribuidora], [imagen], [trailer], [estado]) VALUES (2, 1, N'Elden Ring', N'RPG de accion en mundo abierto con lore creado por George R.R. Martin y FromSoftware.', N'RPG', CAST(N'2022-02-25' AS Date), N'FromSoftware', N'Bandai Namco', NULL, NULL, N'A')
INSERT [dbo].[Videojuego] ([idVideojuego], [idSucursal], [titulo], [descripcion], [idCategoria], [fechaLanzamiento], [desarrolladora], [distribuidora], [imagen], [trailer], [estado]) VALUES (3, 1, N'FIFA 24', N'Simulador de futbol oficial con licencias de los principales campeonatos del mundo.', N'Deportes', CAST(N'2023-09-29' AS Date), N'EA Sports', N'Electronic Arts', NULL, NULL, N'A')
SET IDENTITY_INSERT [dbo].[Videojuego] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Jugador_email] Fecha de script: 29/7/2026 12:10:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Jugador_email] ON [dbo].[Jugador]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Videojuego_sucursal_titulo] Fecha de script: 29/7/2026 12:10:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Videojuego_sucursal_titulo] ON [dbo].[Videojuego]
(
	[idSucursal] ASC,
	[titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alquiler] ADD  CONSTRAINT [DF_Alquiler_estado]  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Jugador] ADD  CONSTRAINT [DF_Jugador_clave]  DEFAULT ('12345') FOR [clave]
GO
ALTER TABLE [dbo].[Jugador] ADD  CONSTRAINT [DF_Jugador_esAdmin]  DEFAULT ((0)) FOR [esAdministrador]
GO
ALTER TABLE [dbo].[Jugador] ADD  CONSTRAINT [DF_Jugador_estado]  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Sucursal] ADD  CONSTRAINT [DF_Sucursal_estado]  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Videojuego] ADD  CONSTRAINT [DF_Videojuego_estado]  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_Alquiler_Jugador] FOREIGN KEY([idJugador])
REFERENCES [dbo].[Jugador] ([idJugador])
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_Alquiler_Jugador]
GO
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_Alquiler_Videojuego] FOREIGN KEY([idVideojuego])
REFERENCES [dbo].[Videojuego] ([idVideojuego])
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_Alquiler_Videojuego]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Alquiler] FOREIGN KEY([idAlquiler])
REFERENCES [dbo].[Alquiler] ([idAlquiler])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Alquiler]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Jugador] FOREIGN KEY([idJugador])
REFERENCES [dbo].[Jugador] ([idJugador])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Jugador]
GO
ALTER TABLE [dbo].[Videojuego]  WITH CHECK ADD  CONSTRAINT [FK_Videojuego_Sucursal] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[Videojuego] CHECK CONSTRAINT [FK_Videojuego_Sucursal]
GO
/****** Objeto: StoredProcedure [dbo].[sp_CancelarAlquiler] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_CancelarAlquiler
   Cancela un alquiler activo, actualiza fechaModificacion
   y registra CANCELADO en Bitacora.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_CancelarAlquiler]
    @idAlquiler INT,
    @idJugadorSesion INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @estado VARCHAR(1);
        DECLARE @fechaInicio DATETIME;

        SELECT
            @estado = estado,
            @fechaInicio = fechaInicio
        FROM dbo.Alquiler
        WHERE idAlquiler = @idAlquiler;

        IF @estado IS NULL
        BEGIN
            RAISERROR('El alquiler indicado no existe.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF @estado = 'I'
        BEGIN
            RAISERROR('No se puede cancelar un alquiler que ya está cancelado.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF CAST(@fechaInicio AS DATE) <= CAST(GETDATE() AS DATE)
        BEGIN
            RAISERROR('No se puede cancelar un alquiler cuya fecha de inicio ya se cumplió.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        UPDATE dbo.Alquiler
        SET
            estado = 'I',
            fechaModificacion = GETDATE()
        WHERE idAlquiler = @idAlquiler;

        INSERT INTO dbo.Bitacora
        (
            idAlquiler,
            idJugador,
            accionRealizada,
            fechaDeLaAccion
        )
        VALUES
        (
            @idAlquiler,
            @idJugadorSesion,
            'CANCELADO',
            GETDATE()
        );

        COMMIT TRANSACTION;

        SELECT
            @idAlquiler AS idAlquiler,
            'CANCELADO' AS accionRealizada;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ContarAlquileresActivosPorVideojuego] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ContarAlquileresActivosPorVideojuego
   Cuenta alquileres activos futuros de un videojuego.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ContarAlquileresActivosPorVideojuego]
    @idVideojuego INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS cantidad
    FROM dbo.Alquiler
    WHERE idVideojuego = @idVideojuego
      AND estado = 'A'
      AND fechaDevolucion > GETDATE();
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearAlquiler] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_CrearAlquiler
   Crea un alquiler, asigna automáticamente un videojuego disponible,
   calcula días y costo total, y registra la acción CREADO en Bitacora.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_CrearAlquiler]
    @idJugador INT,
    @idSucursal INT,
    @fechaInicio DATETIME,
    @fechaDevolucion DATETIME,
    @idJugadorSesion INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @idVideojuego INT;
        DECLARE @costoPorDia NUMERIC(10,2);
        DECLARE @totalDias INT;
        DECLARE @costoTotal NUMERIC(14,2);
        DECLARE @idAlquilerNuevo INT;

        IF NOT EXISTS (
            SELECT 1
            FROM dbo.Jugador
            WHERE idJugador = @idJugador
              AND estado = 'A'
        )
        BEGIN
            RAISERROR('El jugador seleccionado no existe o no está activo.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF NOT EXISTS (
            SELECT 1
            FROM dbo.Jugador
            WHERE idJugador = @idJugadorSesion
              AND estado = 'A'
        )
        BEGIN
            RAISERROR('El usuario de sesión no existe o no está activo.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        SELECT @costoPorDia = s.costoPorDia
        FROM dbo.Sucursal s
        WHERE s.idSucursal = @idSucursal
          AND s.estado = 'A';

        IF @costoPorDia IS NULL
        BEGIN
            RAISERROR('La sucursal seleccionada no existe o no está activa.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF CAST(@fechaInicio AS DATE) <= CAST(GETDATE() AS DATE)
        BEGIN
            RAISERROR('La fecha de inicio debe ser mayor a la fecha actual.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF CAST(@fechaDevolucion AS DATE) < CAST(@fechaInicio AS DATE)
        BEGIN
            RAISERROR('La fecha de devolución no puede ser menor que la fecha de inicio.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        SELECT TOP 1
            @idVideojuego = v.idVideojuego
        FROM dbo.Videojuego v
        WHERE v.idSucursal = @idSucursal
          AND v.estado = 'A'
          AND NOT EXISTS (
                SELECT 1
                FROM dbo.Alquiler a
                WHERE a.idVideojuego = v.idVideojuego
                  AND a.estado = 'A'
                  AND CAST(a.fechaInicio AS DATE) <= CAST(@fechaDevolucion AS DATE)
                  AND CAST(a.fechaDevolucion AS DATE) >= CAST(@fechaInicio AS DATE)
              )
        ORDER BY (
            SELECT COUNT(*)
            FROM dbo.Alquiler a2
            WHERE a2.idVideojuego = v.idVideojuego
        ) ASC, v.idVideojuego ASC;

        IF @idVideojuego IS NULL
        BEGIN
            RAISERROR('No hay videojuegos disponibles en la sucursal seleccionada para el rango de fechas indicado.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        SET @totalDias = DATEDIFF(DAY, CAST(@fechaInicio AS DATE), CAST(@fechaDevolucion AS DATE)) + 1;
        SET @costoTotal = @totalDias * @costoPorDia;

        INSERT INTO dbo.Alquiler
        (
            idJugador,
            idVideojuego,
            fechaInicio,
            fechaDevolucion,
            totalDiasAlquiler,
            costoPorDia,
            costoTotal,
            fechaCreacion,
            fechaModificacion,
            estado
        )
        VALUES
        (
            @idJugador,
            @idVideojuego,
            @fechaInicio,
            @fechaDevolucion,
            @totalDias,
            @costoPorDia,
            @costoTotal,
            GETDATE(),
            NULL,
            'A'
        );

        SET @idAlquilerNuevo = SCOPE_IDENTITY();

        INSERT INTO dbo.Bitacora
        (
            idAlquiler,
            idJugador,
            accionRealizada,
            fechaDeLaAccion
        )
        VALUES
        (
            @idAlquilerNuevo,
            @idJugadorSesion,
            'CREADO',
            GETDATE()
        );

        COMMIT TRANSACTION;

        SELECT
            @idAlquilerNuevo AS idAlquiler,
            @idVideojuego AS idVideojuego,
            @totalDias AS totalDiasAlquiler,
            @costoPorDia AS costoPorDia,
            @costoTotal AS costoTotal;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearAlquilerVideojuego] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CrearAlquilerVideojuego]
    @idJugador INT,
    @idVideojuego INT,
    @fechaInicio DATETIME,
    @fechaDevolucion DATETIME,
    @idJugadorSesion INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @costoPorDia NUMERIC(10,2);
    DECLARE @totalDiasAlquiler INT;
    DECLARE @costoTotal NUMERIC(14,2);
    DECLARE @idAlquiler INT;

    IF CAST(@fechaInicio AS DATE) < CAST(GETDATE() AS DATE)
    BEGIN
        RAISERROR('La fecha de inicio no puede ser menor a la fecha actual.', 16, 1);
        RETURN;
    END;

    IF CAST(@fechaDevolucion AS DATE) < CAST(@fechaInicio AS DATE)
    BEGIN
        RAISERROR('La fecha de devolución no puede ser menor que la fecha de inicio.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM Jugador
        WHERE idJugador = @idJugador
          AND estado = 'A'
    )
    BEGIN
        RAISERROR('El jugador seleccionado no existe o está inactivo.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM Videojuego
        WHERE idVideojuego = @idVideojuego
          AND estado = 'A'
    )
    BEGIN
        RAISERROR('El videojuego seleccionado no existe o está inactivo.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM Alquiler a
        WHERE a.idVideojuego = @idVideojuego
          AND a.estado = 'A'
          AND @fechaInicio <= a.fechaDevolucion
          AND @fechaDevolucion >= a.fechaInicio
    )
    BEGIN
        RAISERROR('El videojuego seleccionado está ocupado en esas fechas.', 16, 1);
        RETURN;
    END;

    SELECT @costoPorDia = s.costoPorDia
    FROM Videojuego v
    INNER JOIN Sucursal s ON s.idSucursal = v.idSucursal
    WHERE v.idVideojuego = @idVideojuego;

    SET @totalDiasAlquiler = DATEDIFF(DAY, @fechaInicio, @fechaDevolucion) + 1;
    SET @costoTotal = @totalDiasAlquiler * @costoPorDia;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO Alquiler
        (
            idJugador,
            idVideojuego,
            fechaInicio,
            fechaDevolucion,
            totalDiasAlquiler,
            costoPorDia,
            costoTotal,
            fechaCreacion,
            estado
        )
        VALUES
        (
            @idJugador,
            @idVideojuego,
            @fechaInicio,
            @fechaDevolucion,
            @totalDiasAlquiler,
            @costoPorDia,
            @costoTotal,
            GETDATE(),
            'A'
        );

        SET @idAlquiler = SCOPE_IDENTITY();

        INSERT INTO Bitacora
        (
            idAlquiler,
            idJugador,
            accionRealizada,
            fechaDeLaAccion
        )
        VALUES
        (
            @idAlquiler,
            @idJugadorSesion,
            'CREADO',
            GETDATE()
        );

        COMMIT TRANSACTION;

        SELECT
            @idAlquiler AS idAlquiler,
            @idVideojuego AS idVideojuego,
            @totalDiasAlquiler AS totalDiasAlquiler,
            @costoPorDia AS costoPorDia,
            @costoTotal AS costoTotal;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearVideojuego] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_CrearVideojuego
   Crea un videojuego activo en una sucursal.
   Valida que no exista un título igual en la misma sucursal.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_CrearVideojuego]
    @idSucursal INT,
    @titulo VARCHAR(100),
    @descripcion VARCHAR(500),
    @idCategoria VARCHAR(100),
    @fechaLanzamiento DATE,
    @desarrolladora VARCHAR(100),
    @distribuidora VARCHAR(100),
    @imagen VARCHAR(255) = NULL,
    @trailer VARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.Sucursal
        WHERE idSucursal = @idSucursal
    )
    BEGIN
        RAISERROR('La sucursal seleccionada no existe.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM dbo.Videojuego
        WHERE idSucursal = @idSucursal
          AND titulo = @titulo
    )
    BEGIN
        RAISERROR('Ya existe un videojuego con ese título en la sucursal seleccionada.', 16, 1);
        RETURN;
    END;

    INSERT INTO dbo.Videojuego
    (
        idSucursal,
        titulo,
        descripcion,
        idCategoria,
        fechaLanzamiento,
        desarrolladora,
        distribuidora,
        imagen,
        trailer,
        estado
    )
    VALUES
    (
        @idSucursal,
        @titulo,
        @descripcion,
        @idCategoria,
        @fechaLanzamiento,
        @desarrolladora,
        @distribuidora,
        @imagen,
        @trailer,
        'A'
    );

    SELECT SCOPE_IDENTITY() AS idVideojuego;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_InactivarVideojuego] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_InactivarVideojuego
   Cambia el estado de un videojuego a I.
   No permite inactivar videojuegos con alquileres activos futuros.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_InactivarVideojuego]
    @idVideojuego INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @estadoActual VARCHAR(1);

    SELECT @estadoActual = estado
    FROM dbo.Videojuego
    WHERE idVideojuego = @idVideojuego;

    IF @estadoActual IS NULL
    BEGIN
        RAISERROR('El videojuego indicado no existe.', 16, 1);
        RETURN;
    END;

    IF @estadoActual = 'I'
    BEGIN
        RAISERROR('El videojuego ya se encuentra inactivo.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM dbo.Alquiler
        WHERE idVideojuego = @idVideojuego
          AND estado = 'A'
          AND fechaDevolucion > GETDATE()
    )
    BEGIN
        RAISERROR('El videojuego tiene un alquiler activo en proceso y no se puede inactivar.', 16, 1);
        RETURN;
    END;

    UPDATE dbo.Videojuego
    SET estado = 'I'
    WHERE idVideojuego = @idVideojuego;

    SELECT
        @idVideojuego AS idVideojuego,
        'INACTIVADO' AS resultado;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarAlquiler] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ModificarAlquiler
   Modifica fechas de un alquiler, recalcula días y costo total,
   actualiza fechaModificacion y registra CORREGIDO en Bitacora.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ModificarAlquiler]
    @idAlquiler INT,
    @fechaInicio DATETIME,
    @fechaDevolucion DATETIME,
    @idJugadorSesion INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @estado VARCHAR(1);
        DECLARE @fechaDevolucionActual DATETIME;
        DECLARE @costoPorDia NUMERIC(10,2);
        DECLARE @totalDias INT;
        DECLARE @costoTotal NUMERIC(14,2);

        SELECT
            @estado = estado,
            @fechaDevolucionActual = fechaDevolucion,
            @costoPorDia = costoPorDia
        FROM dbo.Alquiler
        WHERE idAlquiler = @idAlquiler;

        IF @estado IS NULL
        BEGIN
            RAISERROR('El alquiler indicado no existe.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF @estado = 'I'
        BEGIN
            RAISERROR('No se puede modificar un alquiler cancelado.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF CAST(@fechaDevolucionActual AS DATE) <= CAST(GETDATE() AS DATE)
        BEGIN
            RAISERROR('No se puede modificar un alquiler cuya fecha de devolución ya se cumplió.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF CAST(@fechaInicio AS DATE) <= CAST(GETDATE() AS DATE)
        BEGIN
            RAISERROR('La fecha de inicio debe ser mayor a la fecha actual.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF CAST(@fechaDevolucion AS DATE) <= CAST(GETDATE() AS DATE)
        BEGIN
            RAISERROR('La fecha de devolución debe ser mayor a la fecha actual.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF CAST(@fechaDevolucion AS DATE) < CAST(@fechaInicio AS DATE)
        BEGIN
            RAISERROR('La fecha de devolución no puede ser menor que la fecha de inicio.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        SET @totalDias = DATEDIFF(DAY, CAST(@fechaInicio AS DATE), CAST(@fechaDevolucion AS DATE)) + 1;
        SET @costoTotal = @totalDias * @costoPorDia;

        UPDATE dbo.Alquiler
        SET
            fechaInicio = @fechaInicio,
            fechaDevolucion = @fechaDevolucion,
            totalDiasAlquiler = @totalDias,
            costoTotal = @costoTotal,
            fechaModificacion = GETDATE()
        WHERE idAlquiler = @idAlquiler;

        INSERT INTO dbo.Bitacora
        (
            idAlquiler,
            idJugador,
            accionRealizada,
            fechaDeLaAccion
        )
        VALUES
        (
            @idAlquiler,
            @idJugadorSesion,
            'CORREGIDO',
            GETDATE()
        );

        COMMIT TRANSACTION;

        SELECT
            @idAlquiler AS idAlquiler,
            @totalDias AS totalDiasAlquiler,
            @costoPorDia AS costoPorDia,
            @costoTotal AS costoTotal;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarVideojuego] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ModificarVideojuego
   Modifica un videojuego activo.
   No permite modificar videojuegos inactivos ni con alquileres activos futuros.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ModificarVideojuego]
    @idVideojuego INT,
    @titulo VARCHAR(100),
    @descripcion VARCHAR(500),
    @idCategoria VARCHAR(100),
    @fechaLanzamiento DATE,
    @desarrolladora VARCHAR(100),
    @distribuidora VARCHAR(100),
    @imagen VARCHAR(255) = NULL,
    @trailer VARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @estadoActual VARCHAR(1);
    DECLARE @idSucursalActual INT;

    SELECT
        @estadoActual = estado,
        @idSucursalActual = idSucursal
    FROM dbo.Videojuego
    WHERE idVideojuego = @idVideojuego;

    IF @estadoActual IS NULL
    BEGIN
        RAISERROR('El videojuego indicado no existe.', 16, 1);
        RETURN;
    END;

    IF @estadoActual = 'I'
    BEGIN
        RAISERROR('No se puede modificar un videojuego inactivo.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM dbo.Alquiler
        WHERE idVideojuego = @idVideojuego
          AND estado = 'A'
          AND fechaDevolucion > GETDATE()
    )
    BEGIN
        RAISERROR('El videojuego tiene un alquiler activo en proceso y no se puede modificar.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM dbo.Videojuego
        WHERE idSucursal = @idSucursalActual
          AND titulo = @titulo
          AND idVideojuego <> @idVideojuego
    )
    BEGIN
        RAISERROR('Ya existe otro videojuego con ese título en la misma sucursal.', 16, 1);
        RETURN;
    END;

    UPDATE dbo.Videojuego
    SET
        titulo = @titulo,
        descripcion = @descripcion,
        idCategoria = @idCategoria,
        fechaLanzamiento = @fechaLanzamiento,
        desarrolladora = @desarrolladora,
        distribuidora = @distribuidora,
        imagen = @imagen,
        trailer = @trailer
    WHERE idVideojuego = @idVideojuego;

    SELECT
        @idVideojuego AS idVideojuego,
        'MODIFICADO' AS resultado;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerAlquileresPorJugador] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ObtenerAlquileresPorJugador
   Obtiene los alquileres de un jugador específico.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ObtenerAlquileresPorJugador]
    @idJugador INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        a.idAlquiler,
        j.nombreCompleto,
        s.nombre AS nombreSucursal,
        v.titulo,
        a.fechaInicio,
        a.fechaDevolucion,
        a.costoTotal,
        a.estado
    FROM dbo.Alquiler a
        INNER JOIN dbo.Jugador j ON j.idJugador = a.idJugador
        INNER JOIN dbo.Videojuego v ON v.idVideojuego = a.idVideojuego
        INNER JOIN dbo.Sucursal s ON s.idSucursal = v.idSucursal
    WHERE a.idJugador = @idJugador
    ORDER BY a.idAlquiler DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerBitacoraPorAlquiler] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ObtenerBitacoraPorAlquiler
   Obtiene la bitácora asociada a un alquiler.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ObtenerBitacoraPorAlquiler]
    @idAlquiler INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        b.idBitacora,
        b.idAlquiler,
        j.nombreCompleto,
        b.accionRealizada,
        b.fechaDeLaAccion
    FROM dbo.Bitacora b
        INNER JOIN dbo.Jugador j ON j.idJugador = b.idJugador
    WHERE b.idAlquiler = @idAlquiler
    ORDER BY b.fechaDeLaAccion ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerDetalleAlquiler] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ObtenerDetalleAlquiler
   Obtiene el detalle de un alquiler específico.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ObtenerDetalleAlquiler]
    @idAlquiler INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        a.idAlquiler,
        a.idJugador,
        j.nombreCompleto,
        s.idSucursal,
        s.nombre AS nombreSucursal,
        v.idVideojuego,
        v.titulo,
        a.fechaInicio,
        a.fechaDevolucion,
        a.totalDiasAlquiler,
        a.costoPorDia,
        a.costoTotal,
        a.estado
    FROM dbo.Alquiler a
        INNER JOIN dbo.Jugador j ON j.idJugador = a.idJugador
        INNER JOIN dbo.Videojuego v ON v.idVideojuego = a.idVideojuego
        INNER JOIN dbo.Sucursal s ON s.idSucursal = v.idSucursal
    WHERE a.idAlquiler = @idAlquiler;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerJugadoresActivos] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ObtenerJugadoresActivos
   Obtiene los jugadores activos para cargar combos.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ObtenerJugadoresActivos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        j.idJugador,
        j.nombreCompleto
    FROM dbo.Jugador j
    WHERE j.estado = 'A'
    ORDER BY j.nombreCompleto ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerSucursalesActivas] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ObtenerSucursalesActivas
   Obtiene las sucursales activas para cargar combos.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ObtenerSucursalesActivas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.idSucursal,
        s.nombre,
        s.costoPorDia
    FROM dbo.Sucursal s
    WHERE s.estado = 'A'
    ORDER BY s.nombre ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerTodosAlquileres] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ObtenerTodosAlquileres
   Obtiene todos los alquileres y permite filtrar por jugador y fechas.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ObtenerTodosAlquileres]
    @idJugador INT = NULL,
    @fechaInicio DATETIME = NULL,
    @fechaDevolucion DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        a.idAlquiler,
        j.nombreCompleto,
        s.nombre AS nombreSucursal,
        v.titulo,
        a.fechaInicio,
        a.fechaDevolucion,
        a.costoTotal,
        a.estado
    FROM dbo.Alquiler a
        INNER JOIN dbo.Jugador j ON j.idJugador = a.idJugador
        INNER JOIN dbo.Videojuego v ON v.idVideojuego = a.idVideojuego
        INNER JOIN dbo.Sucursal s ON s.idSucursal = v.idSucursal
    WHERE (@idJugador IS NULL OR a.idJugador = @idJugador)
      AND (
            (@fechaInicio IS NULL AND @fechaDevolucion IS NULL)
            OR (a.fechaInicio >= @fechaInicio AND a.fechaDevolucion <= @fechaDevolucion)
          )
    ORDER BY a.idAlquiler DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerVideojuegoPorId] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ObtenerVideojuegoPorId
   Obtiene los datos completos de un videojuego específico.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ObtenerVideojuegoPorId]
    @idVideojuego INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.idVideojuego,
        v.idSucursal,
        s.nombre AS nombreSucursal,
        v.titulo,
        v.descripcion,
        v.idCategoria,
        v.fechaLanzamiento,
        v.desarrolladora,
        v.distribuidora,
        v.imagen,
        v.trailer,
        v.estado
    FROM dbo.Videojuego v
        INNER JOIN dbo.Sucursal s ON s.idSucursal = v.idSucursal
    WHERE v.idVideojuego = @idVideojuego;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerVideojuegos] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ObtenerVideojuegos
   Obtiene todos los videojuegos para la pantalla de gestión.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ObtenerVideojuegos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.idVideojuego,
        s.nombre AS nombreSucursal,
        v.titulo,
        v.idCategoria,
        v.estado
    FROM dbo.Videojuego v
        INNER JOIN dbo.Sucursal s ON s.idSucursal = v.idSucursal
    ORDER BY s.nombre ASC, v.estado ASC, v.titulo ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerVideojuegosDisponibilidadPorSucursal] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerVideojuegosDisponibilidadPorSucursal]
    @idSucursal INT,
    @fechaInicio DATETIME,
    @fechaDevolucion DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.idVideojuego,
        v.titulo,
        CASE 
            WHEN EXISTS (
                SELECT 1
                FROM Alquiler a
                WHERE a.idVideojuego = v.idVideojuego
                  AND a.estado = 'A'
                  AND @fechaInicio <= a.fechaDevolucion
                  AND @fechaDevolucion >= a.fechaInicio
            )
            THEN CAST(0 AS BIT)
            ELSE CAST(1 AS BIT)
        END AS disponible,
        CASE 
            WHEN EXISTS (
                SELECT 1
                FROM Alquiler a
                WHERE a.idVideojuego = v.idVideojuego
                  AND a.estado = 'A'
                  AND @fechaInicio <= a.fechaDevolucion
                  AND @fechaDevolucion >= a.fechaInicio
            )
            THEN v.titulo + ' (Ocupado)'
            ELSE v.titulo + ' (Disponible)'
        END AS tituloDisponibilidad
    FROM Videojuego v
    WHERE v.idSucursal = @idSucursal
      AND v.estado = 'A'
    ORDER BY v.titulo;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerVideojuegosPorSucursal] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ObtenerVideojuegosPorSucursal
   Obtiene videojuegos activos de una sucursal específica.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ObtenerVideojuegosPorSucursal]
    @idSucursal INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.idVideojuego,
        v.titulo,
        v.descripcion,
        v.idCategoria,
        v.fechaLanzamiento,
        v.desarrolladora,
        v.distribuidora,
        v.imagen,
        v.trailer,
        v.estado
    FROM dbo.Videojuego v
    WHERE v.idSucursal = @idSucursal
      AND v.estado = 'A'
    ORDER BY v.titulo ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ValidarCredenciales] Fecha de script: 29/7/2026 12:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   sp_ValidarCredenciales
   Valida el email y clave digitados en el login contra la tabla Jugador.
   Solo permite jugadores activos con estado A.
============================================================================ */
CREATE   PROCEDURE [dbo].[sp_ValidarCredenciales]
    @email VARCHAR(150),
    @clave VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        j.idJugador,
        j.nombreCompleto,
        j.email,
        j.esAdministrador
    FROM dbo.Jugador j
    WHERE j.email = @email
      AND j.clave = @clave
      AND j.estado = 'A';
END
GO
USE [master]
GO
